body{
    background-color: white;
    background-image: radial-gradient(rgb(248, 248, 248), rgb(38, 144, 214));
}

.button {
    width: 150px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    border-color: lightblue;
}
.crapsbutton {
    width: 150px;
    height: 30px;
    background-color: rgb(151, 7, 7);
    border-radius: 30px;
    border-color: lightblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    font-style: oblique;
}
#die1Res{
    color: green;
}
